{% extends 'shop/layouts/main.html' %}
{% load cloudinary_tags %}
{% block title %}
    Cart | shopkart
{% endblock%}
{% block content %}
<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4 class="mb-3">Favourite Items</h4>
                <hr style="border-color: #b8bfc2;">
                {% include 'shop/inc/msg.html' %}
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>Image</th>
                    <th>Product Name</th>
                    <th>Amount</th>
                    <th>Remove</th>
                </tr>
                {% for item in fav %}
                <tr>
                    <td><img src="{{item.product.prod_image.url }}" height="75px" alt="{{item.product.prod_image.url }}"></td>
                    <td>{{ item.product.name }}</td>
                    <td>{{item.product.selling_price| stringformat:'d'}}</td>
                    <td><a href="{% url 'remove_fav' item.id %}" onclick="return confirm('Are you Sure To Remove🙄')"  class="btn btn-danger btn-sm"><i class="fa fa-trash"></i>Remove</a></td>
                </tr>
                {%endfor%}

            </table>
        </div>
    </div>
</section>

{% endblock %}