asgiref==3.8.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
cloudinary==1.44.1
cryptography==45.0.5
diff-match-patch==20241021
Django==5.2.3
django-cloudinary-storage==0.3.0
django-import-export==4.3.8
et_xmlfile==2.0.0
gunicorn==23.0.0
idna==3.10
mysqlclient==2.2.7
openpyxl==3.1.5
packaging==25.0
pillow==11.2.1
psycopg2==2.9.10
pycparser==2.22
PyMySQL==1.1.1
requests==2.32.4
six==1.17.0
sqlparse==0.5.3
tablib==3.8.0
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
